<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Reports::report">
                    <resource id="Fei_SalesReport::sales_reports" title="Sales Reports">
                        <resource id="Fei_SalesReport::report_sales_product_revenue" title="Product Revenue Report"/>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
